
.logout {
   position:fixed;
   height:4dvh;
   top: 1dvh;
   right:1dvw;
   display: none;
}
.logout.visible {
   display: block;
}
.logout.active {
   box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.37);
   transform: scale(1.00);
}
.logout-popup {
   position:fixed;
   width:60dvw;
   height:40dvh;
   margin:10dvh 20dvw 30dvh 20dvw;

   opacity: 0;
   transform: scale(0);
   transition:opacity 0.5s ease-in-out,transform 0.5s ease-in-out;
   z-index:101;

   font-size: 2vw;
   text-align: center;
   padding-top:20dvh;
}
.logout-popup.visible {
   opacity: 1;
   transform: scale(1);
   transition:opacity 0.5s ease-in-out,transform 0.5s ease-in-out;
}
.logout-popup button {
   width:30%;
   height:15%;
   font-size:2vw;
}

/* ログインポップアップ */
.popup-select-game {
    position: fixed;
    width: 90dvw;
    height: 85dvh;
    margin: 10dvh 5dvw 5dvh 5dvw;
    background-color: white;
    z-index: 100;
}
.popup-select-game.success {
   display: none;
}
.popup-select-game p {
   text-align: center;
   font-size: 1.5dvw;
   margin-top: 12dvh;
}
.popup-select-game h1 {
    text-align: center;
    margin-top: 3dvh;
}
.popup-select-game select {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 15dvh;
    font-size: 1.5dvw;
    margin-top: 5dvh;
    padding: 1dvh 0 1dvh 0;
    background: oklch(0.99 0.07393 145.034);
}
.popup-select-game input {
   position: absolute;
   left: 20%;
   width: 40%;
   height: 15dvh;
   margin-top: 25dvh;
   font-size: 1.5dvw;
   background: oklch(0.99 0.07 8.704);
}
.popup-select-game button {
   position: absolute;
   right: 20%;
   width: 15%;
   height: 15dvh;
   margin-top: 25dvh;
   font-size: 2.5dvw;
   font-weight: 600;
   color: white;
   background: oklch(0.6 0.31003 266.137);
}
