body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-video {
   position: fixed;    /* 画面に張り付ける */
   top: 0;
   left: 0;
   width: 100dvw;
   height: 100dvh;
   object-fit: cover;  /* 画面いっぱいに切り抜き */
   z-index: -2;        /* 後ろに回す */
}

.radius {
   border-radius: 25px;
}

.filter {
   background: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
   border: 1px solid white;
   transition: transform 0.3s ease-in-out ,box-shadow 0.3s ease-in-out;
}
.filter:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.37);
   transform: scale(1.02);
   transition: transform 0.3s ease-in-out ,box-shadow 0.3s ease-in-out;
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.header {
   position: fixed;
   width: 100dvw;
   height: 6dvh;
   background: rgba(255, 255, 255, 0.6);
}

.header .header-title {
   font-family: "Sawarabi Gothic", sans-serif;
   font-weight: 400;
   font-size: 1.5dvw;
   text-align: center;
   transform: translate(0, -50%);
   margin-top: 3dvh;
}

/* ログインポップアップ */
.popup-select-game {
    position: fixed;
    width: 90dvw;
    height: 85dvh;
    margin: 10dvh 5dvw 5dvh 5dvw;
    background-color: white;
    z-index: 100;
}
.popup-select-game.success {
   display: none;
}
.popup-select-game p {
   text-align: center;
   font-size: 1.5dvw;
   margin-top: 12dvh;
}
.popup-select-game h1 {
    text-align: center;
    margin-top: 3dvh;
}
.popup-select-game select {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 15dvh;
    font-size: 1.5dvw;
    margin-top: 5dvh;
    padding: 1dvh 0 1dvh 0;
    background: oklch(0.99 0.07393 145.034);
}
.popup-select-game input {
   position: absolute;
   left: 20%;
   width: 40%;
   height: 15dvh;
   margin-top: 25dvh;
   font-size: 1.5dvw;
   background: oklch(0.99 0.07 8.704);
}
.popup-select-game button {
   position: absolute;
   right: 20%;
   width: 15%;
   height: 15dvh;
   margin-top: 25dvh;
   font-size: 2.5dvw;
   font-weight: 600;
   color: white;
   background: oklch(0.6 0.31003 266.137);
}

/* アウトラインボックス */
.box {
   position: fixed;
   width: 40dvw;
   margin: 10dvh 0 10dvh 0;
}
.result-wrapper {
    height: 40dvh;
    top: 0;
    margin-left: 5dvw;
}
.sendcommunication {
    height: 40dvh;
    top: 45dvh;
    margin-left: 5dvw;
}
.communication-wrapper {
    width: 45dvw;
    height: 85dvh;
    right: 0;
    margin-right: 5dvw;
}
.box h1 {
    text-align: center;
    margin: 2% 30% 1% 30%;
    border: dashed 3px oklch(0.8 0.3 40);
    border-radius: 25px;
    filter: drop-shadow(0 0 6px rgb(255, 49, 34));
    color: aliceblue;
    font-size:2dvw;
}

/* 結果登録画面 */
.result-content {
   height: 15%;
   margin: 1% 0 1% 0;
   font-size: 1.2dvw;
}
.game-type {
   width: 70%;
   margin-left: 15%;
}
.game-team {
   width: 45%;
   margin-left: 15%;
}
.game-team-point {
   width: 20%;
   margin-left: 4%;
}
.result-send-btn {
   width: 25%;
   margin-left: 60%;
   background: oklch(0.8 0.31003 266.137);
   font-weight: 600;
}
.result-send-btn:active {
   box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.37);
   transform: scale(1.00);
}

/* 業務連絡画面 */
.commu-content {
   height: 15%;
   margin: 1% 0 1% 0;
   font-size: 1.2dvw;
}
.commu-to {
   width: 40%;
   margin-left: 15%;
}
.commu-type {
   width: 28%;
   margin-left: 2%;
}
.commu {
   height: 30%;
   font-size: 1.2dvw;
   width: 66%;
   margin-left: 15%;
   padding: 2.0%;
   resize: none;
}
.commu-send-btn {
   width: 25%;
   margin-left: 60%;
   background: oklch(0.8 0.31003 266.137);
   font-weight: 600;
}
.commu-send-btn:active {
   box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.37);
   transform: scale(1.00);
}

/* 業務連絡一覧画面 */
#commu-list {
   margin: 5% 15% 5% 15%;
   width: 70%;
   max-height: 70dvh;
   background: oklch(0.8 0.3 150);
   overflow: auto; 
}
